@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/*--Contenedores--*/

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container1{
    gap: 1.5em;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1;
    padding: 10px 20px;
}



.containers{
    display: flex;
    gap: 1.5em;
    margin-top: 30px;
    margin-bottom: 100px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.containers h1{
    text-align: center;
}
.containers h3{
    text-align:unset;
}

.titulo{
    display: flex;
    gap: 1.5em;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.info{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 2em 5px 0px 5px;
    justify-content: center;
    box-sizing: border-box;
    padding: 2%;
}


h1{
    text-align: center;
    font-size: 3em;
    margin: 0.5em 0 0.5em 0;
    font-family: 'Shadows Into Light', cursive;
}

h2{
    text-align: center;
    margin: 0 0 1em 0;
}

#logo{
    flex-basis: 100px;
}



img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
    transition: 0.3s linear;
}

img:hover{
    
    transform: scale(1.01, 1.01);
}

.item{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: gray;
    justify-items: center;
    flex-basis: 350px;
}

.item span{
    justify-content: center;
    font-size: 20px;
}

.brand{
    float: left;
}

/*Control del footer*/
.container-footer{
    display: flex; /*Para que el footer sea flex*/
    position: fixed; /*Para que el footer se quede en pantalla al bajar*/
    z-index: 100;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: blueviolet;
    gap: 1.5em;
}

#button_up{
    background-color: white;
    border-radius: 80px;
    max-height: 30px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    text-decoration: none;
    font-style: inherit;
    color: inherit;
    float: right;
}

#button_up:hover{
    background-color: #9A9A9A;
}

.item_footer-1{
    flex-grow: 1;
    padding: 10px 15px;
}

.item_footer-1 span{
    text-align: center;
    margin: 5px auto;
}
 
#it-3{
    flex-direction: column;
}

.it-info{
    width: 100%;
}

.it-info p{
    font-size: 1em;
    text-align: justify;
    margin: 0.5em 0;
}

#img-1{
    max-height: 232px;
    width: 100%;
}

.login{
    padding: 15px;
    background-color:#9A9A9A;
    border-radius: 15px;
    width: 60%;
    height: auto;
    align-content: center;
    text-align: center;
}

.login p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.login input{
    width: 30%;
    height: 25px;
    border-radius: 10px;
}

#BtnLogin:active{
    color: black;
}

.admin_container{
    background-color: #959595;
    padding: 10px;
    width: 500px;
    height: auto;
    border-radius: 15px;
    text-align: center;
    
}

#impresion {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.contenedor_login{
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-flow: column;
}

#TxtMonto{
    margin: 5px;
    height: 25px;
    width: 200px;
    border-radius: 15px;
}

#informacion_usuario{
    box-shadow: 20px rgba(255, 255, 255, 0.3);

}

#informacion_usuario > * {
    padding: 1em;
    align-content: center;
}

#informacion_usuario form{
    margin:0;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
}

#informacion_usuario form button,
#informacion_usuario form input,
#informacion_usuario form select,
#informacion_usuario form textarea{
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid #2056DB;
}

#informacion_usuario form button{
    background: white;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.btnAzul{
    background-color: #2056DB;
    color: white;
    border: 0;
    border-radius: 15px;
    margin: 20px 5px;
    padding: 5px;
    height: 30px;

}

.btnAzul:hover{
    background-color: #315fd3;
}

.btnAzul:active{
    background-color: #acacac;
}

.linkDefault{
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

.mid_title{
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
}


/*--------Contenedores--------*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navColor{
    background-color: #989898;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container_parrafo{
    text-align: justify;
    background-color: #CBCBCB;
    padding: 0.5em;
    border-radius: 20px;
}

#container_products{
    padding: 10px;
}

.container_individual{
    margin: 15px 0;
    background-color: #989898;
    padding: 1em;
    border-radius: 20px;
}

/*Contenedor general para los contenidos*/
.container_gen{
    flex: 1;
    padding: 10px 20px;
}

footer{
    background-color: black;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 5px;
}

.iconContainer{
    width: 50px;
    height: 50px;
    float: left;
    overflow: hidden;
    margin-right: 10px;
}

.container_U{
    background-color: #989898;
    border-radius: 20px;
    margin-top: 1em;
    padding: 10px;
}

.container_E{
    background-color: #989898;
    border-radius: 20px;
    margin-top: 1em;
    padding: 10px;
}

/*--------Fuentes y colores--------*/

.fontWhite{
    color: white;
}

.fontCenter{
    text-align: center;
}

.fontBold{
 font-weight: bold;
}

/*--------Funciones con el mouse--------*/

.hoverIcons:hover{
 color: white;
}

/*--------Imagenes--------*/

.product_image{
    height: 40vh;
}